@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 1500px;
	margin: 0px auto;
}
a{
	text-decoration: none;
	
}
.banner{
	position:relative;
	right:170px;
	top:5px;
}
header div#dn a:hover{
	color:#0C3;
}

nav{
	clear:both;
	background-color: #79B22F;
	height: 55px;
}

nav div#menu{
	width:1350px;
	margin:0px auto;
}
.tk{
	position:relative;
	left:1250px;
	bottom:37px;
}
#tim{
	height:30px;
	width:200px;
	position:relative;
	bottom:5px;
	border-radius:5px;
}
#tim1{
	height:30px;
	width:100px;
	position:relative;
	bottom:5px;
	left:10px;
	border-radius:5px;
}
div#menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  font-weight:bold;
  display:inline-block;
}
#menu a:hover{
	color:#FFF;
	background-color:#390;
}
#menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
#menu ul li {display: inline-block;}
#menu ul li:hover {background: #093;}
#menu ul li:hover ul {display: block;}
#menu ul li ul {
  position: absolute;
  width: 240px;
  display: none;
}
#menu ul li ul li { 
  background:#0C3; 
  display: block; 
}
#menu ul li ul li a {display:block !important;} 
#menu ul li ul li:hover {background: #093;}





div#body{
	width: 1200px;
	margin:0px auto;
	backround-color:#edeaea;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0 , 0, 0.19);
}
article{
	display:table-row;
}

aside#left, aside#right, section{
	display: table-cell;
	vertical-align: top;
}
aside#left{
	width: 300px;
}


aside#right{
	width:150px;
}
aside#left>div
{
	border:3px solid #79B22F;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-left: 50px;

}
aside#left>div h1 {
background-color: #79B22F;
	font-size: 20px;
}
aside#left>div>h1{
	backgrouynd-color:#79B22F;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	color:white;
	height:25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
aside#left>div>ul{
	padding-left: 10px;
	font-weight:bold;
	font-size:15px;
	font-family: Arial;
}
aside#left>div>ul>li{
	
	height: 25px;
	list-style-position: inside;
	
	padding-left: 5px;
	padding-top: 5px;
}
aside#left>div>ul>li>a {
	
	color:#206AB5;
	text-decoration: none;
	
}
aside#left>div>ul>li a:hover{
	color:#ff0000;
}
aside#right>div{
	border:1px solid #79B22F;
	border-radius: 4px;
	margin-bottom:30px;
	margin-right: 50px;
}
aside#right>div>p{
	background-color: #79B22F;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size:16px;
	font-weight:bold;
	color:white;
	height:25px;
	padding-top: 5px;
	width:300px;
}
aside#right>div#bannhieu p{
	clear:both;
}
aside#right marquee{
	position:relative;
	left:100px;

}
aside#right>div#bannhieu img{
	height: 100px;
	padding-left:5px;
	text-align:center;;;
	margin-bottom: 5px;
}
aside#right>div#bannhieu a {
	text-decoration: none;
	font-size:9pt;
	font-family: Arial;
	color:#456c26;
	height: 70px;
}
aside#right>div#bannhieu a:hover{
	font-weight: bold;
}

section{
	width: 750px;
	padding:0px 8px;
	border:solid 2px #99FF33;
	display:table-cell;
	vertical-align:top;
	
}

section p#ab
{
	background: linear-gradient(#a5b4c4, #79B22F, #79B22F);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size:16px;
	font-weight:bold;
	color:white;
	height:25px;
	padding-top:5px;
	width: 800px;
}

.tainghe{
	width: 240px;
	height: 320px;
	background-color: #CCC;
	margin:3px;
	border-radius: 5px;
	border: 1px dashed #79B22F;
	text-align: center;
	float:left;
	padding-right:18px;
}
.tentainghe{
	margin-top:5px;
	vertical-align: top;
	height:40px;
}
.tentainghe a{
	font-weight:bold;
	color:#133a62;
	font-size: 14px;
}
.tentainghe a:hover{
	font-style: italic;
}
.imgTainghe{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0 , 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 150px;
	height: 200px;
	transition: all 0.5 ease;
}
.imgTainghe:hover{
	transform:  scale(1.1);
}
.dongia{
	margin-top:10px;
	font-size:15px;
}
.gia{
	color:red;
	font-weight:bold;
	
}
.nutchomua{
	margin: 7px 0px;
	height: 30px;
}


section p#gt{
	color:#000;
	font-size:18px;
}
section p#gioithieu {
	font-size:18px;
	background: linear-gradient(#a5b4c4, #79B22F, #79B22F);
	height:30px;
	color: #FFF;
	font-weight:bold;
	text-align:center;
}
section p#gtchung{
	font-size:18px;
	font-weight:bold;
	background: linear-gradient(#a5b4c4, #79B22F, #79B22F);	
}
section p#lienhe{
	font-size:24px;
	color:#FFF;
	font-weight:bold;
	background:#79B22F;
}

section p#lh{
	color:#933;
	font-size:18px;
	font-weight:bold;
}
section p#diachi{
	color:#000;
	font-size:16px;
	font-weight:bold;
}
section p#dienthoai{
	color:#000;
	font-size:16px;
	font-weight:bold;
}
